@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway&display=swap');

/* NAVBAR */
.navbar-brand img {
    max-width: 300px;
}

h1{
    font-family: 'Raleway', sans-serif;
    padding: 2% 0% 3% 0;
    text-shadow: 2px 2px 8px #000000;
}
h2, h3{
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
}

 p{
    font-family: 'Raleway', sans-serif;
    font-size: 1.4rem;
}

.h4,
h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.8rem;
}

.carousel-caption{
    transform: translateY(-70%);
    bottom: 0;
    top: 60%;
}

.featurette-heading .text {
    color: #ffca3a;
}
/* END NAVBAR */

.btn-group-lg .subscribe{
    padding-bottom: 1rem;
}

/* JUMBOTRON */
.about {
    background-image: url(assets/about.jpg);
    background-color: #ffca3a;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
}
.products {
    background-image: url(assets/jumbotron.jpg);
    background-color: #ffca3a;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
}
.team {
    background-image: url(assets/team.jpg);
    background-color: #ffca3a;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
}


@media screen and (max-width: 768px) {
    h1 {
        font-size: 30px;
    }

    .carousel-caption {
        transform: translateY(-70%);
        bottom: 0;
        top: 60%;
    }

    .navbar-brand img {
        max-width: 250px;
    }
}